%p#notice= notice

%p
  %b Product name:
  = @ar_product.product_name
%p
  %b Product description:
  = @ar_product.product_description
%p
  %b Image url:
  = @ar_product.image_url
%p
  %b Ar Subcategory:
  = @ar_product.ar_subcategory_id

= link_to 'Edit', edit_ar_product_path(@ar_product)
\|
= link_to 'Back', ar_products_path
