%p#notice= notice

%p
  %b Ar subcategory name:
  = @ar_subcategory.ar_subcategory_name
%p
  %b Image url:
  = @ar_subcategory.image_url

= link_to 'Edit', edit_ar_subcategory_path(@ar_subcategory)
\|
= link_to 'Back', ar_subcategories_path
