%p#notice= notice
%p
  %strong Item type:
  = @feed_item.item_type
%p
  %strong Username:
  = @feed_item.username
%p
  %strong User:
  = @feed_item.user_id
%p
  %strong Item description:
  = @feed_item.item_description
%p
  %strong Image url:
  = @feed_item.image_url
%p
  %strong Video url:
  = @feed_item.video_url
= link_to 'Edit', edit_feed_item_path(@feed_item)
|
= link_to 'Back', feed_items_path
